@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Baumans&family=Poppins:wght@700&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  color: #5cff4d !important;
}

a.active::before {
  width: 100%;
}

.link-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4ef042 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #4ef042;
  border-radius: 10px;
  border: 3px solid #ffffff;
}


.config-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  padding: 30px;
  place-items: center;

}